* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}
.container1 {
  background-color: #FFFFFF;
  display: flex;
  height: 100px;
  width: 75%;
  border: 1px solid black;
}
.navigation {
  display: flex;
  position: relative;
  flex: 6;
  height: 80px;
  background-color: #282828;
  margin: 1px;
}
.link1 {
  flex: 1;
  position: absolute;
  top: 20px;
  height: 100px;
  margin: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
}
.link2 {
  flex: 1;
  position: absolute;
  top: 20px;
  left: 100px;
  height: 100px;
  margin: 10px;
  color: white;
  font-size: 20px;
}

.flexbox-container {
	display: -webkit-flex;
	display: flex;
}

.flexbox-container > div {
	width: 50%;
	padding: 10px;
}

.flexbox-container > div:first-child {
	margin-right: 20px;
}
.box {
  display: flex;
  height: 275px;
  width: 100%;
  background-color: #D8D8D8;
  margin: 20px 20px 0px 0px;
}
h1 {
  text-align: center;
  font-size: 6vw;

}
